@font-face {
  font-family: "FordAntenna-Thin";
  src: url("../fonts/FordAntenna/FordAntenna-Thin.otf");
}


@font-face {
  font-family: "FordAntenna-Bold";
  src: url("../fonts/FordAntenna/FordAntenna-Bold.otf");
}


@font-face {
  font-family: "FordAntenna-Light";
  src: url("../fonts/FordAntenna/FordAntenna-Light.otf");
}

.animate-enter, .animate-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
}
.animate-enter.animate-enter-active, .animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
  left: 500px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

h1 {
  font-size: 28px;
}

.coloured-bg {
  background-color: #f0f0f0;
}

.scrollToTop {
  height: 40px;
  width: 60px;

  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px 0 0 0;

  z-index: 9999;

  display:none;
  background:rgba(232, 98, 86,0.9) url('../img/arrow.svg') no-repeat center 50%;
}

.item {

  .shortlist-icon.badge.badge-assertive {
    display: block;
    text-align: left;
    left: 100px;
    top: 21.5px;
    right: auto;
  }
}


.pane {
  .homepage.scroll-content {
    .content {
      .h4{
        text-transform: uppercase;
        padding: 1em;
      }
    }
    img, .image {
      max-width: 100%;
    }
  }
  .seminars.scroll-content {
    .seminar {
      h1 {

      }
      h5 {
        text-transform: uppercase;
        font-family: FordAntenna-Light, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        font-size: 14px;
      }
      img, .image {
        max-width: 100%;
      }
    }

  }
  .homepage.scroll-content {
    img.padded-image, .image.padded-image {
      max-width: 80%;
      margin: 0 auto;
      padding: 2em 0;
    }
  }
  .seminars.scroll-content {
    img.padded-image, .image.padded-image {
      max-width: 80%;
      margin: 0 auto;
      padding: 2em 0;
    }
  }
}

.filter-bar-top {
  position: fixed;
  top: 80px;
  z-index: 90;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;

  .item.item-input {
    &.item-select {
      .input-label {
        width: 30%;
      }
      select {
        display: block;
        width: 80%;
        margin: auto;
        padding: 10px 33px 14px 14px;
      }
    }

  }

}

// because of the filter
.list-view.has-header.stands {
  top: 180px;
}

.tabs-color-light .tab-item {
  color: #000000;
  background-color: #ffffff;
}

.bar-light .button.button-clear.button-plus {
  font-size: 30px;
  &.button-share {
    font-size: 30px;
  }
}

p {
  font-family: FordAntenna-Light, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  padding: 0 0.75em;
  text-align: left;
}

.title.title-center.header-item {
  margin-top: 0.35em;
}

.code-tabs {

  .spinner {
    zoom: 1;
    z-index: 9999;
    height: 50px;
    width: 50px;
  }

  .code-view.has-header.has-tabs-top {
    background-color: #000000;
    color: #ffffff !important;
    height: auto;
    margin-top: 2em;
  }

  .method-view.has-header.has-tabs-top {
    top: 140px;
    bottom: 44px;
    height: auto;

    .ionic-toggle {
      margin-top: 1.75em;
    }

  }

  .tabs {
    margin-top: 1.5em;
    border: none !important;
    background: #ffffff;
    box-shadow: white 0 4px 3px 4px;
    .tab-item {
      color: #000000;
      background-color: #ffffff;
      padding-top: 0 !important;
      border: 1px solid #b2b2b2 !important;
      &.tab-item-active, &:active, &.activated {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}

.menu {
  width: 100%;
  &.ng-enter, &.ng-leave, &.ng-move {
    -webkit-transition: 250ms linear all;
    -moz-transition: 250ms linear all;
    -o-transition: 250ms linear all;
    transition: 250ms linear all;
  }
  &.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  &.ng-move {
    opacity: 0;
    height: 0;
    overflow: hidden;
    &.ng-move-active {
      opacity: 1;
    }
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    &.ng-leave-active {
      opacity: 0;
    }
  }
  .button.button-right {
    position: relative;
    left: 80%;
  }
  .messages {
    width: 100%;
    position: relative;
    top: 50px;

    .radios {
      position: absolute;
      input {
        display: none;
        &:checked + img { -webkit-filter: brightness(0) grayscale(0) opacity(1);
          -moz-filter: brightness(0) grayscale(0) opacity(1);
          filter: brightness(0) grayscale(0) opacity(1);  }
      }
      > input + img { cursor:pointer;
        -webkit-filter: brightness(1.1) grayscale(1) opacity(0.9);
        -moz-filter: brightness(1.1) grayscale(1) opacity(0.9);
        filter: brightness(1.1) grayscale(1) opacity(0.9); }

      &.Right {
        top: 125px;
        right: 30px;
      }
      &.Left {
        top: 125px;
        left: 30px;
      }
      &.Forward {
        top: 50px;
        left: 37.5%;
      }
      &.Reverse {
        top: 200px;
        left: 37.5%;
      }

    }
    .item {
      width: 100%;
    }
    .bottom-touch {
      padding-top: 100%;
    }
  }
  .list {
    margin-top: 120px;
    .item {
      padding: 0.75em;
      border: none;
      text-align: right;
      font-family: "FordAntenna-Thin", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: 30px;
    }
  }
}

.bar.bar-header {
  height: 55px;
}

.header-image {
  max-width: 100%;
  img {
    max-width: 100%;
    width: 100%;
    max-height: 450px;
  }
  &.built {
    min-height: 255px;
    position: relative;
    top: 0;
    left: 0;
    > .dark {
      width: 100%;
      padding: 2em 0;
      min-height: inherit;
      background: #000000 url("../img/stands/Pixel-lines.png") no-repeat 0 0;
      img {
        width: 30%;
        padding-top: 1.25em;
      }
      .titles, .icon {
        width: 100%;
      }
      .titles {
        bottom: 10%;
        h1 {
          color: #ffffff;
          width: 80%;
          margin: 0 auto;
        }
        h5 {
          color: #ffffff;
          font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
          text-transform: uppercase;
        }
      }
    }
  }
}

.title-module, .last-module, .sub-feature {
  padding-top: 2em;
  padding-bottom: 2em;
}

.title-module.dark, .last-module.dark {
  width: 100%;
  min-height: inherit;
  background: #000000 url("../img/stands/Pixel-lines.png") no-repeat 0 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.title-module.dark h1, .last-module.dark h1 {
  color: #ffffff;
}

.title-module .main-title, .last-module .main-title {
  padding-bottom: 0.25em;
  text-align: center;
}

.title-module .sub-title, .last-module .sub-title {
  text-transform: uppercase;
  font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  text-align: center;
}

.title-module .sub-title.no-main-title, .last-module .sub-title.no-main-title {
  padding-top: 1em;
  margin-bottom: 2em;
}

.title-module {
  .email a, .number a {
    font-size: 20px;
    font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
  }
}

.last-module {
  .email a, .number a {
    font-size: 20px;
    font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
  }
}

.number, .email {
  font-size: 20px;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  padding: 0;
  margin: 0;
}

.last-module {
  .col:first-child {
    margin-bottom: 1em;
  }
}

.sub-feature .sub-title {
  padding-bottom: 1em;
  text-transform: uppercase;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.magic, .competition {
  p {
    text-align: left;
  }
  p:last-child {
    margin-bottom: 3em;
  }
}

.selectContainer .item.item-input {
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider .slider-slide {
  color: #000;
  background-color: #fff;
}

.stands {
  top: 120px;
  margin-top: 4em;

  .item {
    padding-left: 1em;
    h1.team-name {
      font-size: 25px;
    }
  }

  .click-through {
    color: inherit;
    text-decoration: none;
  }

}

.feature {
  &.cards .card {
    background-color: #ffffff;
    padding-top: 0;
    .item {
      color: #000000;
      &.item-image {
        padding: 0;
        margin-bottom: 20px;
      }
      &.item-main p {
        padding: 1em 0 0;
        margin: 0;
        text-align: center;
      }
    }
  }
  .card {
    font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    background-color: #000000;
    box-shadow: none;
    margin: 40px 10px;
    padding: 20px 0;
    &:first-child {
      margin-top: 20px;
    }
    .item {
      background-color: inherit;
      color: #ffffff;
      border: none;
      &.item-link {
        font-size: 20px;
        padding: 0;
      }
      h3, h4 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      h3 {
        font-size: 18px;
      }
      h4 {
        strong {
          font-size: 16px;
          font-weight: 900;
        }
      }
    }
    &.marketplace {
      padding: 20px 0 20px;

      .item.item-link {
        padding: 1em;
        .icon {
          z-index: 999;
        }
      }
      span.h2 {
        margin-left: 20px;
        color: #ffffff;
        font-size: 25px;
        font-weight: 100;
        font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      }
      .item-main {
        p {
          padding: 0;
        }
      }
    }
  }
  .aurasma-image {
    width: 100%;
    a {
      text-decoration: none;
      display: block;
    }
    img {
      text-align: center;
      margin: 0 auto;
      width: 30%;
      height: 30%;
      display: block;
    }
  }
}

#map, .angular-google-map-container {
  height: 300px;
  min-height: 300px;
  width: 100%;
  margin-top: 1.5em;
}

.button {
  &.button-add-shortlist {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 11px;
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  &.button-share.ion-share {
    font-size: 34px;
  }
}

.has-tabs, .bar-footer.has-tabs {
  bottom: 0;
}

.item-radio input {

  &:active + .drinkcard-cc {
    opacity: .9;
  }
  &:checked + .drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  &:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  }
}

.bar.bar-loading {
  position: absolute;
  display: block;
  height: 24px;
  z-index: 9999;
  /* starts right below a normal header */
  top: 84px;
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;
  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
  /* make loading bar slide up/down */
  &.ng-enter, &.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0;
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    height: 24px;
    border-width: 1px;
  }
}

/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.pane {
  .has-header {
    -webkit-transition: 200ms top;
    // because of the larger menu-bar
    top: 55px;
    &.has-loading {
      top: 84px;
    }
  }
}

.scrollTop {
  height: 40px;
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  z-index: 9999;
  display:none;
  background:rgba(232, 98, 86,0.9) url('../img/arrow.svg') no-repeat center 50%;
}

.shortlists {
  margin-top: 1.35em;

  ion-item {
    padding: 0.5em 0;
  }
}

.find-me.bar {
  -moz-box-shadow: grey 0 4px 3px 4px;;
  box-shadow: grey 0 4px 3px 4px;
  a.button.button-icon {
    width: 50%;
    color: grey;
    border-right: 1px solid grey;
  }
  a.button.button-icon:last-child {
    border-right: none;
  }
}


@import "utilities";
