<ion-view title="{{navTitle}}"
          right-buttons="rightButtons">
    <ion-content class="homepage">
        <img class="image" src="img/homepage-image.jpg">
        <div class="content padding">
            <h4 class="h4 text-center padding">What is glits</h4>
            <p class="text-center">The Global IT Learning Summit is an annual event geared towards learning and development for Ford IT employees.</p>
            <p class="text-center">It is a unique opportunity to learn about Ford IT and wider industry topics and trends.</p>
        </div>
    </ion-content>
</ion-view>
