<ion-view view-title="{{vm.stand[0].name}}"
          right-buttons="rightButtons"
          ng-controller="StandController as vm"
          has-header="true"
          class="coloured-bg item-text-wrap"
        >
    <div class="bar bar-loading bar-assertive item-text-wrap" ng-if="vm.data.isLoading">Loading Stand</div>
    <ion-content ng-class="{'has-loading': vm.data.isLoading}">
        <div class="header-image built">
            <div class="dark">
                <div class="icon text-center"><img ng-src="./img/stands/{{vm.stand[0].icon}}" alt=""/></div>
                <div class="titles">
                    <h1 class="text-center item-text-wrap">{{vm.stand[0].name}}</h1>
                    <h5 class="text-center">{{vm.stand[0].umbrella}}</h5>
                </div>
            </div>
        </div>
        <div class="row responsive-sm feature" ng-if="vm.stand[0].description">
            <div class="col title-module">
                <h5 class="text-center sub-title no-main-title">About</h5>
                <p class="text-center">{{vm.stand[0].description}}</p>
            </div>
        </div>
        <div class="header-image" ng-if="vm.stand[0].picture">
            <img ng-src="./img/stands/uk/{{vm.stand[0].picture}}">
        </div>
        <div class="row responsive-sm last-module">
            <div class="col">
                <h5 class="text-center sub-title no-main-title">Contact</h5>
                <p class="number" ng-if="vm.stand[0].telephone"><a ng-href="tel:{{vm.stand[0].telephone}}" class="button button-full button-clear">{{vm.stand[0].telephone}}</a></p>
                <p class="email" ng-if="vm.stand[0].email"><a ng-href="mailto:{{vm.stand[0].email}}" class="button button-full button-clear">{{vm.stand[0].email}}</a></p>
            </div>
            <div class="col">
              <button class="button button-add-shortlist" ng-click="addStand(vm.stand[0])">
                {{buttonTxt}}
              </button>
            </div>
        </div>
    </ion-content>
</ion-view>
