<ion-view title="{{navTitle}}" right-buttons="rightButtons">
    <ion-content>
        <div class="header-image slider">
            <ion-slide-box active-slide="myActiveSlide">
                <ion-slide>
                    <div class="box"><img src="./img/marketplace/1.jpg"></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="./img/marketplace/2.jpg"></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="./img/marketplace/3.jpg"></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="./img/marketplace/4.jpg"></div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="row responsive-sm feature">
            <div class="col title-module">
                <h1 class="text-center main-title">Marketplace</h1>
                <h5 class="text-center sub-title">Whats On</h5>
            </div>
            <div class="col">
                <div class="card marketplace">
                    <a class="item item-link item-icon-right" ui-sref="main.stands">
                        <span class="h2 block">Stands</span>
                        <i class="icon ion-ios-arrow-right"></i>
                        <div class="item item-text-wrap item-main">
                          <p>Find a list of our marketplace stands, including a description of the stand content and contact details.</p>
                        </div>
                    </a>
                </div>
                <div class="card marketplace">
                    <a class="item item-link item-icon-right" ui-sref="main.competition">
                        <span class="h2 block">Competition</span>
                        <i class="icon ion-ios-arrow-right"></i>
                        <div class="item item-text-wrap item-main">
                          <p>Complete our Augmented Reality Competition to take part in the draw for our big prize!</p>
                        </div>
                    </a>
                </div>
                <div class="card marketplace">
                    <a class="item item-link item-icon-right" ui-sref="main.magic">
                        <span class="h2 block">Magic Car</span>
                        <i class="icon ion-ios-arrow-right"></i>
                        <div class="item item-text-wrap item-main">
                          <p>You think there are only the cars you can see around you in the showroom?</p>
                          <p>Well… guess again. Click here to see our Magic Car!</p>
                        </div>
                    </a>
                </div>
                <div class="card marketplace">
                    <a class="item item-link item-icon-right" ui-sref="main.drive.method">
                        <span class="h2 block">Drive Car</span>
                        <i class="icon ion-ios-arrow-right"></i>
                        <div class="item item-text-wrap item-main">
                          <p>Visit our European Architecture stand and take a look at our track.</p>
                          <p>Use the app to manipulate our code and drive our car around it!</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
