<ion-view title="Code">
  <ion-content has-header="true" class="code-view">
    <div class="feature text-center">
      <div class="padding text-body">
        <p>int forward = 12;</p>

        <p>int reverse = 11;</p>

        <p>int left = 10;</p>

        <p>int right = 9; </p>

        <p>void setup() {</p>

        <p>pinMode(forward, OUTPUT);</p>

        <p>pinMode(reverse, OUTPUT);</p>

        <p>pinMode(left, OUTPUT);</p>

        <p>pinMode(right, OUTPUT);</p>

        <p>}</p>

        <p>void go_forward() {</p>

        <p>digitalWrite(forward,HIGH);</p>

        <p>digitalWrite(reverse,LOW);</p>

        <p>}</p>

        <p>void go_reverse() {</p>

        <p>digitalWrite(reverse,HIGH);</p>

        <p>digitalWrite(forward,LOW);</p>

        <p>}</p>

        <p>void go_left() {</p>

        <p>digitalWrite(left,HIGH);</p>

        <p>digitalWrite(right,LOW);</p>

        <p>}</p>

        <p>void go_right() {</p>

        <p>digitalWrite(right,HIGH);</p>

        <p>digitalWrite(left,LOW);</p>

        <p>}</p>

        <p>void reset() {</p>

        <p>digitalWrite(reverse,LOW);</p>

        <p>digitalWrite(forward,LOW);</p>

        <p>digitalWrite(right,LOW);</p>

        <p>digitalWrite(left,LOW);</p>

        <p>}</p>
      </div>
      <div class="col text-body">
        <p>void loop() {</p>

        <p>reset();</p>

        <p ng-repeat="message in formData">
          <strong>{{message.direction}}{{message.duration}}</strong></p>

        <p>}</p>
      </div>
    </div>
  </ion-content>
</ion-view>

