<ion-view title="Visual">
  <ion-content has-header="true" class="method-view">
    <div>
      <ion-toggle class="ionic-toggle" ng-model="list.shouldShowDelete">
        Edit Methods
      </ion-toggle>
      <ion-list show-delete="list.shouldShowDelete"
                show-reorder="list.shouldShowReorder">
        <ion-item ng-repeat="message in list.messages" class="item-remove-animate">
          {{message.direction}}{{message.duration}}
          <ion-reorder-button class="ion-navicon"
                              on-reorder="list.moveItem(message, $fromIndex, $toIndex)">
          </ion-reorder-button>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="list.deleteMessage(message)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-clear button-plus ion-plus"
              ng-click="toggleModal()"></button>
    </div>
    <h1 class="title"></h1>

    <div class="buttons">
      <button class="button button-clear button-share ion-share"
              ng-click="showDetails()"></button>
    </div>
  </ion-footer-bar>
</ion-view>
