<ion-view view-title="Login" name="login-view">
    <ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7"></ion-nav-bar>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="name" ng-model="data.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="cdsId" ng-model="data.cdsId">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
    </ion-content>
</ion-view>