@font-face {
  font-family: "FordAntenna-Thin";
  src: url("../fonts/FordAntenna/FordAntenna-Thin.otf"); }

@font-face {
  font-family: "FordAntenna-Bold";
  src: url("../fonts/FordAntenna/FordAntenna-Bold.otf"); }

@font-face {
  font-family: "FordAntenna-Light";
  src: url("../fonts/FordAntenna/FordAntenna-Light.otf"); }

.animate-enter, .animate-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block; }

.animate-enter.animate-enter-active, .animate-leave {
  left: 0; }

.animate-leave.animate-leave-active, .animate-enter {
  left: 500px; }

h1, h2, h3, h4, h5, h6 {
  font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

h1 {
  font-size: 28px; }

.coloured-bg {
  background-color: #f0f0f0; }

.scrollToTop {
  height: 40px;
  width: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px 0 0 0;
  z-index: 9999;
  display: none;
  background: rgba(232, 98, 86, 0.9) url('../img/arrow.svg') no-repeat center 50%; }

.item .shortlist-icon.badge.badge-assertive {
  display: block;
  text-align: left;
  left: 100px;
  top: 21.5px;
  right: auto; }

.pane .homepage.scroll-content .content .h4 {
  text-transform: uppercase;
  padding: 1em; }
.pane .homepage.scroll-content img, .pane .homepage.scroll-content .image {
  max-width: 100%; }
.pane .seminars.scroll-content .seminar h5 {
  text-transform: uppercase;
  font-family: FordAntenna-Light, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 14px; }
.pane .seminars.scroll-content .seminar img, .pane .seminars.scroll-content .seminar .image {
  max-width: 100%; }
.pane .homepage.scroll-content img.padded-image, .pane .homepage.scroll-content .image.padded-image {
  max-width: 80%;
  margin: 0 auto;
  padding: 2em 0; }
.pane .seminars.scroll-content img.padded-image, .pane .seminars.scroll-content .image.padded-image {
  max-width: 80%;
  margin: 0 auto;
  padding: 2em 0; }

.filter-bar-top {
  position: fixed;
  top: 80px;
  z-index: 90;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff; }
  .filter-bar-top .item.item-input.item-select .input-label {
    width: 30%; }
  .filter-bar-top .item.item-input.item-select select {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px 33px 14px 14px; }

.list-view.has-header.stands {
  top: 180px; }

.tabs-color-light .tab-item {
  color: #000000;
  background-color: #ffffff; }

.bar-light .button.button-clear.button-plus {
  font-size: 30px; }
  .bar-light .button.button-clear.button-plus.button-share {
    font-size: 30px; }

p {
  font-family: FordAntenna-Light, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  padding: 0 0.75em;
  text-align: left; }

.title.title-center.header-item {
  margin-top: 0.35em; }

.code-tabs .spinner {
  zoom: 1;
  z-index: 9999;
  height: 50px;
  width: 50px; }
.code-tabs .code-view.has-header.has-tabs-top {
  background-color: #000000;
  color: #ffffff !important;
  height: auto;
  margin-top: 2em; }
.code-tabs .method-view.has-header.has-tabs-top {
  top: 140px;
  bottom: 44px;
  height: auto; }
  .code-tabs .method-view.has-header.has-tabs-top .ionic-toggle {
    margin-top: 1.75em; }
.code-tabs .tabs {
  margin-top: 1.5em;
  border: none !important;
  background: #ffffff;
  box-shadow: white 0 4px 3px 4px; }
  .code-tabs .tabs .tab-item {
    color: #000000;
    background-color: #ffffff;
    padding-top: 0 !important;
    border: 1px solid #b2b2b2 !important; }
    .code-tabs .tabs .tab-item.tab-item-active, .code-tabs .tabs .tab-item:active, .code-tabs .tabs .tab-item.activated {
      background-color: #000000;
      color: #ffffff; }

.menu {
  width: 100%; }
  .menu.ng-enter, .menu.ng-leave, .menu.ng-move {
    -webkit-transition: 250ms linear all;
    -moz-transition: 250ms linear all;
    -o-transition: 250ms linear all;
    transition: 250ms linear all; }
  .menu.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  .menu.ng-move {
    opacity: 0;
    height: 0;
    overflow: hidden; }
    .menu.ng-move.ng-move-active {
      opacity: 1; }
  .menu.ng-enter.ng-enter-active {
    opacity: 1; }
  .menu.ng-leave {
    opacity: 1;
    overflow-y: hidden;
    overflow-x: hidden; }
    .menu.ng-leave.ng-leave-active {
      opacity: 0; }
  .menu .button.button-right {
    position: relative;
    left: 80%; }
  .menu .messages {
    width: 100%;
    position: relative;
    top: 50px; }
    .menu .messages .radios {
      position: absolute; }
      .menu .messages .radios input {
        display: none; }
        .menu .messages .radios input:checked + img {
          -webkit-filter: brightness(0) grayscale(0) opacity(1);
          -moz-filter: brightness(0) grayscale(0) opacity(1);
          filter: brightness(0) grayscale(0) opacity(1); }
      .menu .messages .radios > input + img {
        cursor: pointer;
        -webkit-filter: brightness(1.1) grayscale(1) opacity(0.9);
        -moz-filter: brightness(1.1) grayscale(1) opacity(0.9);
        filter: brightness(1.1) grayscale(1) opacity(0.9); }
      .menu .messages .radios.Right {
        top: 125px;
        right: 30px; }
      .menu .messages .radios.Left {
        top: 125px;
        left: 30px; }
      .menu .messages .radios.Forward {
        top: 50px;
        left: 37.5%; }
      .menu .messages .radios.Reverse {
        top: 200px;
        left: 37.5%; }
    .menu .messages .item {
      width: 100%; }
    .menu .messages .bottom-touch {
      padding-top: 100%; }
  .menu .list {
    margin-top: 120px; }
    .menu .list .item {
      padding: 0.75em;
      border: none;
      text-align: right;
      font-family: "FordAntenna-Thin", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: 30px; }

.bar.bar-header {
  height: 55px; }

.header-image {
  max-width: 100%; }
  .header-image img {
    max-width: 100%;
    width: 100%;
    max-height: 450px; }
  .header-image.built {
    min-height: 255px;
    position: relative;
    top: 0;
    left: 0; }
    .header-image.built > .dark {
      width: 100%;
      padding: 2em 0;
      min-height: inherit;
      background: #000000 url("../img/stands/Pixel-lines.png") no-repeat 0 0; }
      .header-image.built > .dark img {
        width: 30%;
        padding-top: 1.25em; }
      .header-image.built > .dark .titles, .header-image.built > .dark .icon {
        width: 100%; }
      .header-image.built > .dark .titles {
        bottom: 10%; }
        .header-image.built > .dark .titles h1 {
          color: #ffffff;
          width: 80%;
          margin: 0 auto; }
        .header-image.built > .dark .titles h5 {
          color: #ffffff;
          font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
          text-transform: uppercase; }

.title-module, .last-module, .sub-feature {
  padding-top: 2em;
  padding-bottom: 2em; }

.title-module.dark, .last-module.dark {
  width: 100%;
  min-height: inherit;
  background: #000000 url("../img/stands/Pixel-lines.png") no-repeat 0 0;
  margin-bottom: 0;
  padding-bottom: 1em; }

.title-module.dark h1, .last-module.dark h1 {
  color: #ffffff; }

.title-module .main-title, .last-module .main-title {
  padding-bottom: 0.25em;
  text-align: center; }

.title-module .sub-title, .last-module .sub-title {
  text-transform: uppercase;
  font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  text-align: center; }

.title-module .sub-title.no-main-title, .last-module .sub-title.no-main-title {
  padding-top: 1em;
  margin-bottom: 2em; }

.title-module .email a, .title-module .number a {
  font-size: 20px;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  padding: 0;
  margin: 0; }

.last-module .email a, .last-module .number a {
  font-size: 20px;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  padding: 0;
  margin: 0; }

.number, .email {
  font-size: 20px;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  padding: 0;
  margin: 0; }

.last-module .col:first-child {
  margin-bottom: 1em; }

.sub-feature .sub-title {
  padding-bottom: 1em;
  text-transform: uppercase;
  font-family: "FordAntenna-Bold", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

.magic p, .competition p {
  text-align: left; }
.magic p:last-child, .competition p:last-child {
  margin-bottom: 3em; }

.selectContainer .item.item-input {
  margin: 0;
  padding: 0;
  width: 100%; }

.slider .slider-slide {
  color: #000;
  background-color: #fff; }

.stands {
  top: 120px;
  margin-top: 4em; }
  .stands .item {
    padding-left: 1em; }
    .stands .item h1.team-name {
      font-size: 25px; }
  .stands .click-through {
    color: inherit;
    text-decoration: none; }

.feature.cards .card {
  background-color: #ffffff;
  padding-top: 0; }
  .feature.cards .card .item {
    color: #000000; }
    .feature.cards .card .item.item-image {
      padding: 0;
      margin-bottom: 20px; }
    .feature.cards .card .item.item-main p {
      padding: 1em 0 0;
      margin: 0;
      text-align: center; }
.feature .card {
  font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  background-color: #000000;
  box-shadow: none;
  margin: 40px 10px;
  padding: 20px 0; }
  .feature .card:first-child {
    margin-top: 20px; }
  .feature .card .item {
    background-color: inherit;
    color: #ffffff;
    border: none; }
    .feature .card .item.item-link {
      font-size: 20px;
      padding: 0; }
    .feature .card .item h3, .feature .card .item h4 {
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
    .feature .card .item h3 {
      font-size: 18px; }
    .feature .card .item h4 strong {
      font-size: 16px;
      font-weight: 900; }
  .feature .card.marketplace {
    padding: 20px 0 20px; }
    .feature .card.marketplace .item.item-link {
      padding: 1em; }
      .feature .card.marketplace .item.item-link .icon {
        z-index: 999; }
    .feature .card.marketplace span.h2 {
      margin-left: 20px;
      color: #ffffff;
      font-size: 25px;
      font-weight: 100;
      font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }
    .feature .card.marketplace .item-main p {
      padding: 0; }
.feature .aurasma-image {
  width: 100%; }
  .feature .aurasma-image a {
    text-decoration: none;
    display: block; }
  .feature .aurasma-image img {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    display: block; }

#map, .angular-google-map-container {
  height: 300px;
  min-height: 300px;
  width: 100%;
  margin-top: 1.5em; }

.button.button-add-shortlist {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 11px;
  width: 70%;
  margin: 0 auto;
  display: block; }
.button.button-share.ion-share {
  font-size: 34px; }

.has-tabs, .bar-footer.has-tabs {
  bottom: 0; }

.item-radio input:active + .drinkcard-cc {
  opacity: .9; }
.item-radio input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none; }

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7); }
  .drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9); }

.bar.bar-loading {
  position: absolute;
  display: block;
  height: 24px;
  z-index: 9999;
  /* starts right below a normal header */
  top: 84px;
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;
  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
  /* make loading bar slide up/down */ }
  .bar.bar-loading.ng-enter, .bar.bar-loading.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0; }
  .bar.bar-loading.ng-enter.ng-enter-active, .bar.bar-loading.ng-leave {
    height: 24px;
    border-width: 1px; }

/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.pane .has-header {
  -webkit-transition: 200ms top;
  top: 55px; }
  .pane .has-header.has-loading {
    top: 84px; }

.scrollTop {
  height: 40px;
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  z-index: 9999;
  display: none;
  background: rgba(232, 98, 86, 0.9) url('../img/arrow.svg') no-repeat center 50%; }

.shortlists {
  margin-top: 1.35em; }
  .shortlists ion-item {
    padding: 0.5em 0; }

.find-me.bar {
  -moz-box-shadow: grey 0 4px 3px 4px;
  box-shadow: grey 0 4px 3px 4px; }
  .find-me.bar a.button.button-icon {
    width: 50%;
    color: grey;
    border-right: 1px solid grey; }
  .find-me.bar a.button.button-icon:last-child {
    border-right: none; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before, .glyphicon-eur:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-cd:before {
  content: "\e201"; }

.glyphicon-save-file:before {
  content: "\e202"; }

.glyphicon-open-file:before {
  content: "\e203"; }

.glyphicon-level-up:before {
  content: "\e204"; }

.glyphicon-copy:before {
  content: "\e205"; }

.glyphicon-paste:before {
  content: "\e206"; }

.glyphicon-alert:before {
  content: "\e209"; }

.glyphicon-equalizer:before {
  content: "\e210"; }

.glyphicon-king:before {
  content: "\e211"; }

.glyphicon-queen:before {
  content: "\e212"; }

.glyphicon-pawn:before {
  content: "\e213"; }

.glyphicon-bishop:before {
  content: "\e214"; }

.glyphicon-knight:before {
  content: "\e215"; }

.glyphicon-baby-formula:before {
  content: "\e216"; }

.glyphicon-tent:before {
  content: "\26fa"; }

.glyphicon-blackboard:before {
  content: "\e218"; }

.glyphicon-bed:before {
  content: "\e219"; }

.glyphicon-apple:before {
  content: "\f8ff"; }

.glyphicon-erase:before {
  content: "\e221"; }

.glyphicon-hourglass:before {
  content: "\231b"; }

.glyphicon-lamp:before {
  content: "\e223"; }

.glyphicon-duplicate:before {
  content: "\e224"; }

.glyphicon-piggy-bank:before {
  content: "\e225"; }

.glyphicon-scissors:before {
  content: "\e226"; }

.glyphicon-bitcoin:before {
  content: "\e227"; }

.glyphicon-btc:before {
  content: "\e227"; }

.glyphicon-xbt:before {
  content: "\e227"; }

.glyphicon-yen:before {
  content: "\00a5"; }

.glyphicon-jpy:before {
  content: "\00a5"; }

.glyphicon-ruble:before {
  content: "\20bd"; }

.glyphicon-rub:before {
  content: "\20bd"; }

.glyphicon-scale:before {
  content: "\e230"; }

.glyphicon-ice-lolly:before {
  content: "\e231"; }

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

.glyphicon-education:before {
  content: "\e233"; }

.glyphicon-option-horizontal:before {
  content: "\e234"; }

.glyphicon-option-vertical:before {
  content: "\e235"; }

.glyphicon-menu-hamburger:before {
  content: "\e236"; }

.glyphicon-modal-window:before {
  content: "\e237"; }

.glyphicon-oil:before {
  content: "\e238"; }

.glyphicon-grain:before {
  content: "\e239"; }

.glyphicon-sunglasses:before {
  content: "\e240"; }

.glyphicon-text-size:before {
  content: "\e241"; }

.glyphicon-text-color:before {
  content: "\e242"; }

.glyphicon-text-background:before {
  content: "\e243"; }

.glyphicon-object-align-top:before {
  content: "\e244"; }

.glyphicon-object-align-bottom:before {
  content: "\e245"; }

.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

.glyphicon-object-align-left:before {
  content: "\e247"; }

.glyphicon-object-align-vertical:before {
  content: "\e248"; }

.glyphicon-object-align-right:before {
  content: "\e249"; }

.glyphicon-triangle-right:before {
  content: "\e250"; }

.glyphicon-triangle-left:before {
  content: "\e251"; }

.glyphicon-triangle-bottom:before {
  content: "\e252"; }

.glyphicon-triangle-top:before {
  content: "\e253"; }

.glyphicon-console:before {
  content: "\e254"; }

.glyphicon-superscript:before {
  content: "\e255"; }

.glyphicon-subscript:before {
  content: "\e256"; }

.glyphicon-menu-left:before {
  content: "\e257"; }

.glyphicon-menu-right:before {
  content: "\e258"; }

.glyphicon-menu-down:before {
  content: "\e259"; }

.glyphicon-menu-up:before {
  content: "\e260"; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.panel {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0; }

.panel-body {
  padding: 15px; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .panel-heading > .dropdown .dropdown-toggle {
    color: inherit; }
  .panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit; }
  .panel-title .index {
    color: #000001; }
    .panel-title .index .number {
      font-family: FordAntenna-Bold, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      color: #ffffff;
      font-size: 15px;
      width: 22px;
      height: 22px;
      padding: 3px 0 0;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      -webkit-border-radius: 11px;
      -moz-border-radius: 11px;
      border-radius: 11px;
      background-color: #000001; }
  .panel-title h4 {
    width: 100%; }

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
  color: inherit;
  text-decoration: none; }

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.panel > .list-group, .panel > .panel-collapse > .list-group {
  margin-bottom: 0; }

.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0; }

.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.list-group + .panel-footer {
  border-top-width: 0; }

.panel-group {
  margin-bottom: 20px; }
  .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px; }
    .panel-group .panel + .panel {
      margin-top: 5px; }
  .panel-group .panel-heading {
    border-bottom: 0; }
  .panel-group .panel-footer {
    border-top: 0; }
    .panel-group .panel-footer + .panel-collapse .panel-body {
      border-bottom: 1px solid #dddddd; }

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #dddddd; }

.panel-default {
  border-bottom: 2px solid black; }
  .panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: transparent; }
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: transparent; }
    .panel-default > .panel-heading .badge {
      color: #f5f5f5;
      background-color: #333333; }
  .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: transparent; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.close:hover, .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.clearfix:before, .clearfix:after, .panel-body:before, .panel-body:after {
  content: " ";
  display: table; }

.clearfix:after, .panel-body:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }
