<ion-view class="title" title="{{navTitle}}" right-buttons="rightButtons">
    <ion-tabs class="tabs-color-light code-tabs tabs-top">
        <ion-tab title="Visual" ng-controller="ListController as list" ui-sref="main.drive.method">
            <ion-nav-view name="method"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Code" ng-controller="PostController as post" ui-sref="main.drive.code">
            <ion-nav-view name="code"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
