<ion-view title="{{navTitle}}">
    <ion-content class="magic">
        <div class="header-image">
            <img src="./img/competition/Competition-image-01.jpg">
        </div>
        <div class="row responsive-sm feature">
            <div class="col title-module">
                <h1 class="main-title">Magic Car</h1>
                <h5 class="sub-title">how it works</h5>
            </div>
            <div class="col text-body">
              <p>Click on the icon below to launch the Aurasma app,</p>
              <p>find our Magic Car image, scan it and see our car!</p>
            </div>
            <div class="col aurasma-image">
              <a href="http://auras.ma/s/9nRRV"><img src="./img/competition/Camera.png" alt=""/></a>
            </div>
        </div>
    </ion-content>
</ion-view>
